*{
  background: -webkit-linear-gradient(left,#105d6a,#6ef6eb
    );
    text-align: center;
    font-family: Anton;
    color: white;
    text-transform: uppercase;
    word-spacing: .5em;
    letter-spacing: .25em;

}
